* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #f4f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#wrapper-menu {
  width: 340px;
  height: auto;
}

#wrapper-menu>nav ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#wrapper-menu>nav ul li {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#wrapper-menu>nav ul li.toggle {
  width: 52px;
  height: 52px;
  position: relative;
  left: -1px;
  top: -1px;
  background: #fff;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
  z-index: 4;
}

#wrapper-menu>nav ul li img {
  width: 38px;
  height: 38px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper-menu>nav ul .icon-02 {
  background: #1773EA;
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 3;
}

#wrapper-menu>nav ul .icon-03 {
  background: #B03286;
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1), 0.5s;
  z-index: 2;
}

#wrapper-menu>nav ul .icon-04 {
  background: #2AA9E0;
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1), 0.10s;
  z-index: 1;
}

#wrapper-menu .move-icon {
  position: absolute;
  top: 0;
}

#wrapper-menu.active .toggle {
  transform: rotate(45deg);
}

#wrapper-menu.active .icon-02 {
  transform: translateX(calc(50px + 40px));
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1), 0.10s;
}

#wrapper-menu.active .icon-03 {
  transform: translateX(calc(50px * 2 + 40px * 2));
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1), 0.5s;
}

#wrapper-menu.active .icon-04 {
  transform: translateX(calc(50px * 3 + 40px * 3));
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}